<launch>
  <arg name="rate" default="30.0" />
  <arg name="odom_frame" default="odom" />
  <arg name="base_frame" default="base_footprint" />

  <node pkg="fishbot_bringup" type="mock_odom_publisher" name="mock_odom_publisher" output="screen">
    <param name="rate" value="$(arg rate)" />
    <param name="odom_frame" value="$(arg odom_frame)" />
    <param name="base_frame" value="$(arg base_frame)" />
  </node>

  <node pkg="fishbot_bringup" type="odom2tf" name="odom2tf" output="screen" />
</launch>
